<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-uppercase main-color" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products <i class="fas fa-lg main-color fa-solid fa-sort"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item main-color">By Price</a>
                <a href="" class="dropdown-item main-color">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item main-color">By Category</a>
                <a href="{% url 'products' %}?sort=name&direction=asc" class="dropdown-item main-color">By A-Z</a>
                <a href="{% url 'products' %}" class="dropdown-item main-color">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-uppercase main-color" href="#" id="toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Toys <i class="fas fa-lg main-color fa-solid fa-cube"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="{% url 'products' %}?category=plushies" class="dropdown-item main-color">Plushies</a>
                <a href="{% url 'products' %}?category=figures" class="dropdown-item main-color">Figures</a>
                <a href="{% url 'products' %}?category=card_game" class="dropdown-item main-color">Card Game</a>
                <a href="{% url 'products' %}?category=plushies,figures,card_game" class="dropdown-item main-color">All Toys</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5 text-uppercase main-color" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing <i class="fas fa-lg main-color fa-solid fa-shirt"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tshirts" class="dropdown-item main-color">T-Shirts</a>
                <a href="{% url 'products' %}?category=sweaters" class="dropdown-item main-color">Sweaters</a>
                <a href="{% url 'products' %}?category=pyjamas" class="dropdown-item main-color">Pyjamas</a>
                <a href="{% url 'products' %}?category=tshirts,sweaters,pyjamas" class="dropdown-item main-color">All Clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class=" font-weight-bold nav-link mr-5 text-uppercase main-color" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories <i class="fas fa-lg main-color fa-solid fa-socks"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=socks" class="dropdown-item main-color">Socks</a>
                <a href="{% url 'products' %}?category=hats" class="dropdown-item main-color">Hats</a>
                <a href="{% url 'products' %}?category=keychains" class="dropdown-item main-color">Keychains</a>
                <a href="{% url 'products' %}?category=socks,hats,keychains" class="dropdown-item main-color">All Accessories</a>
            </div>
        </li>
    </ul>
</div>